*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    margin-bottom: 30px;
    text-align: center;
}

#container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin-top: 30px;
}

#container div{
    border: 2px solid black;
    width: 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px;
    padding: 20px;
}


img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}


select{
    display: block;
    margin: 0 auto;
}